/* Welcome to my stylesheet */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif, monospace, fantasy;
  margin: 0;
}

/* Header */

header {
  padding: 40px;
  text-align: center;
  background: #bd0000;
  color: #fff;
}

/* Navigation bar */

nav {
  display: flex;
  background-color: #ffe02f;

}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


/* Main page content and card styling*/

main {
  display: flex;
}

.cardBigger {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  text-align: center;
}

.aboutme,
.projects {
  
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  min-width: 100%;
  width: 50%;
  text-align: center;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
  text-decoration: none;
}

.card img {
  width: 100%;
}

/* Footer */

footer {
  
  padding: 80px;
  text-align: center;
  background: #ffe02f;
  color: #fff;
}

/* Media queries */

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  main,
  .card,
  .cardBigger {
    flex-direction: column;
  }
}
