/* .navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;
}

.navbar-fixed-left .navbar-nav > li > li .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
} */

/* styles */
html,
body {
    height: 100%;
}

.btn:hover {
    color: aqua;
    cursor: pointer;
}

li.btn {
    -webkit-touch-callout: inherit;
    /* iOS Safari */
    -webkit-user-select: inherit;
    /* Safari */
    -khtml-user-select: inherit;
    /* Konqueror HTML */
    -moz-user-select: inherit;
    /* Old versions of Firefox */
    -ms-user-select: inherit;
    /* Internet Explorer/Edge */
    user-select: inherit;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}